@import 'body.css';

.red-wrap {
	& h1 {
		color: #ff1393;
	}
}

.bold h3 {
	font-weight: normal;
}

:global(.global-class) {
	font-style: italic;
}

:global(.example-appear) {
	opacity: 0.01;
}

:global(.example-appear.example-appear-active) {
	opacity: 1;
	transition: opacity 0.5s ease-in;
}
