@import 'body.css';

.red-wrap {
	& h1 {
		color: #ff1393;
	}
}

.bold h3 {
	font-weight: normal;
}

:global(.global-class) {
	font-style: italic;
}

:global(.fade-appear) {
	opacity: 0.01;
}

:global(.fade-appear.fade-appear-active) {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

:global .fade-enter {
	opacity: 0.1;
}

:global .fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

:global .fade-exit {
	opacity: 1;
}

:global .fade-exit.fade-exit-active {
	opacity: 0.01;
	transition: opacity 500ms ease-in;
}

